<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <main class="main">
        <div class="app">
            <div class="head">
                <input type="text">
                <h1>Indore</h1>
            </div>
            <div class="app_body">
                <div class="left_body"></div>
                <div class="right_body"></div>
            </div>
        </div>
    </main>
    
</body>
</html>