
    {% extends 'head.html' %}
    {% block contant %}
    
    <form action="" method="post">{% csrf_token %}
        <label for="uname">UserName</label>
        <input type="text" name="uname" placeholder="enter Your Name" required>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="enter Your Email" required>
        <label for="pass">Password</label>
        <input type="text" name="pass" placeholder="enter Your Password" required>

        <button type="submit">Submit</button>

    </form>
    
    {% endblock %}